@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif
}

/* --------------------------------------------------HEADER --------------------------------------------*/
@media(min-width: 1000px) {
    #header {
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px 4%;
        /* transition: ease 1s; */
    }

    /* #header.rolagem {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px 4%;
    } */

    #mobile_btn {
        display: none;
    }

    #mobile_menu {
        display: none;
    }
}


@media (max-width: 999px) {
    .nav a {
        display: none;
    }

    #header {
        background-color: #000;
        width: 100%;
        position: fixed;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1;
        transition: ease 1s;
        color: #fff;
        position: absolute;
        top: 30px;
        right: 20px;
    }

    #mobile_menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        opacity: 0;
        height: 0;
        background-color: transparent;
        width: 100%;
    }

    #mobile_menu.active {
        opacity: 1;
        display: flex;
        position: fixed;
        transition: 1s;
        height: 20vh;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 15px;
    }

    #mobile_nav_list a {
        text-decoration: none;
        margin-left: 15px;
        color: #fff;
        letter-spacing: 3px;
    }

    #mobile_nav_list .nav_item {
        list-style: none;
        text-align: center;
    }

    #mobile_menu.active #mobile_nav_list {
        display: flex;
        opacity: 1;
        height: auto;
    }
}



/* ------------------------------------------SEÇÃO 1--------------------------------------------- */

.nav {
    margin-inline: 55px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-size: 1.8vw;
    letter-spacing: 4px;
    transition: ease-in 0.5s;
}

.nav-list a:hover {
    color: #203c4e;
}

.nav-log {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}


.hero {
    background-image: url(../assets/imgs/backgroundPredio.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    padding-top: 5%;
}

.hero img {
    width: 40%;
}

.hero-text {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-family: Arial, sans-serif;
    color: #fff;
    width: 25%;
}

.hero span {
    font-weight: bold;
}



@media(max-width:999px) {

    .hero {
        background-image: url(../assets/imgs/backgroundPredio.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
        padding-top: 5%;
    }

    .hero img {
        width: 30%;
    }

    .hero-text {
        display: none;
    }
}

/* ------------------------------------------SEÇÃO 2--------------------------------------------- */
/* -----------DESKTOP----------- */
@media(min-width:1000px) {
    .container-solution {
        height: 50vh;
        width: 100%;
        margin-block: 55px;
    }

    .side img {
        border: solid 1px #000;
        border-radius: 50%;
        height: 100%;
        width: 12vw;
    }
}

/* -----MOBILE------ */
@media(max-width:999px) {
    .container-solution{
        height: 30vh;
        width: 100%;
        margin-block: 55px;
    }

    .side img {
        border: solid 1px #000;
        border-radius: 50%;
        height: 100%;
        width: 12vw;
    }
}

@media(min-width: 1000px){
    .side img{
        width: 18vw;
    }
}

.container-solution h1 {
    display: grid;
    place-items: center;
    font-size: 3vw;
    color: #333;
}

.solution-side {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
}

.side:hover{
    transform: scale(1.2);
}


.side button {
    color: #000;
    font-size: 1.8vw;
    border: none;
    cursor: pointer;
}

/* ------------------------------------------SEÇÃO 3--------------------------------------------- */
.container-why {
    max-width: 1480px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3vw;
    color: #333;
    margin-bottom: 20px;
}

.boxes-why {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.card-why {
    border: solid 1px;
    background-color: #eaeaea;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.6;
}


@media (min-width: 1000px) {
    .container-why{
        height: 35vh;
    }

    .boxes-why {
        flex-direction: row; 
        justify-content: space-between; 
    }
    .card-why {
        flex: 1; 
        margin: 0 10px;
    }
}


@media (max-width: 999px) {
    .container-why {
        padding: 15px; 
        height: 40vh;
    }

    .card-why {
        padding: 15px; 
    }
}
/* ------------------------------------------SEÇÃO 4 - FOOTER --------------------------------------------- */
    .footer {
        background-color: #000;
        color: white; 
        display: flex; 
        justify-content: space-between; 
        align-items: end; 
        padding: 20px 4%; 
        position: relative; 
        bottom: 0; 
        width: 100%; 
    }
    
    .footer img {
        height: 60px; 
        margin-right: 10px; 
    }
    
    .footer p {
        margin: 0; 
    }
    
    .footer div {
        display: flex; 
        align-items: center; 
    }
    
    .footer div:last-child {
        text-align: right; 
    }

