@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif
}

@media(min-width: 1000px){
    #header {
        position: fixed;
        z-index: 1;
        width: 100%;
        transition: ease 1s;
    }
    
    #header.rolagem{
        background-color: #000000;
        padding: 5px 1%;
    }
    #mobile_btn{
        display: none;
    }
    
    #mobile_menu{
        display: none;
    }
}


@media (max-width: 999px){
    .textoBotao{
        display: none;
    }

    .nav a{
        display: none;
    }

    .nav img{
        display: none;
    }

    #header{
    background-color: #000;
    width: 100%;
    position: fixed;
    }

    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1;
        transition: ease 1s; 
        color: #fff;
        position: absolute;
        top: 30px;
        right: 20px;
    }

    #mobile_menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        opacity: 0; 
        height: 0; 
        background-color: transparent;
        width: 100%;
        width: 100vw;
    }

    #mobile_menu.active{
        opacity: 1;
        display: flex;
        position: fixed;
        transition: 1s;
        width: 100%;
        height: 20vh;
        justify-content: center;
        background-color: #000;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 15px;
    }

    #mobile_nav_list a{
        text-decoration: none;
        margin-left: 15px;
        color: #fff;
        letter-spacing: 3px;
    }

    #mobile_nav_list .nav_item{
        list-style: none;
        text-align: center;
    }

    #mobile_menu.active #mobile_nav_list {
        display: flex; 
        opacity: 1; 
        height: auto; 
    }
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/imgs/backgroundPredio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}

/* HEADER */
.nav-logo {
    height: 90px;
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 2px;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 5rem;
    letter-spacing: 2px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 55px;
}

.nav img {
    height: 100%;
}

.nav a {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}

/* SEÇÃO 1 */

.inicio {
    display: flex;
    height: 100vh;
    padding: 7%;
}

.textoBotao {
    height: 48%;
    width: 40%;
    backdrop-filter: blur(3px);
    margin-top: 8%;
}

.botao {
    display: flex;
    justify-content: left;
    padding: 2%;
}

.textoBotao span {
    color: white;
    font-size: 10dvh;
    text-decoration: none;
    text-align: left;

}

.botao a {
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    justify-content: left;
    padding: 2%;
    width: 350px;
    border-radius: 30px;
    background-color: white;
}

/* SEÇÃO 2 */

.nossaSolucao {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9%;
    flex-direction: row;
}

.aside {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.titulo {
    color: white;
    font-size: 3.5rem;
}

.contexto {
    color: white;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
}

.contextoTxt {
    display: flex;
    text-align: start;
    padding: 2rem 0;
    width: 70%;
}

.contextoTxt h6 {
    font-size: clamp(1.8rem, 2.6vw, 2.6rem);
    font-weight: 300;
}


.aside a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    width: 18.75rem;
    border-radius: 30px;
    background-color: white;
}

.bside {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 60%;
}

.imagem {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-image: url(../assets/imgs/acoes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* SEÇÃO 3 */

.section_porque {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo_porque {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.titulo_porque h6 {
    font-size: 3.5rem;
}

.container_porques {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
}

.porque_box {
    display: flex;
    align-items: center;
    background-color: #c7d0d8;
    width: 30%;
    border-radius: 3rem;
    font-size: clamp(1.5rem, 2.6vw, 2.6rem);    
    padding: 1.5%;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    word-spacing: 0.7rem;
    line-height: 1.4;
    box-shadow: #0000003e 0 0 8px 0px;
}

.porque_box h6 {
    font-weight: 500;
    padding: .5rem;
}

.foto {
    border-radius: 10%;
    background-image: url(../assets/imgs/teamwork.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* SEÇÃO 4 */

.section_equipe {
    display: flex;
    flex-direction: column;
    background-color: #c7d0d8;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.titulo_equipe {
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-end;
    padding: 1% 3% 0;
}

.container_equipe {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    row-gap: 4rem;
    column-gap: 7rem;
    padding: 0 8%;
}


.container_equipe img {
    width: 60%;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: #0000003e 0 0 8px 0px;

}

.container_equipe img:hover {
    transform: scale(1.1);
}


/* FOOTER */

footer {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 100%;
    padding: 2%;
    font-size: 2.25rem;
}

footer h5 {
    font-weight: 400;
}

.esquerda {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    color: #ffffff;
    font-size: 1.75rem;
}

.esquerda img {
    width: 15%;
}

.direita {
    color: #ffffff;
}


/* RESPONSIVIDADE */

@media (max-width: 1024px) {
    .nossaSolucao {
        flex-direction: column;
        justify-content: center;
        padding: 3%;
    }
    .aside, .bside, .contexto {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .aside a {
        font-size: 1.6rem;
    }

    .imagem {
        border-radius: 30px;
    }

    .section_porque {
        height: auto;
    }

    .container_porques {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }

    .porque_box {
        min-height: 20vh;
        width: 80%;
        font-size: 2.5rem;
        border-radius: 20px;
    }

    .section_equipe {
        height: 100%;
    }
    .container_equipe {
        padding: 4% 8%;
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

@media (max-width: 768px) {
    
    .porque_box {
        font-size: 1.9rem;
    }
    .titulo_equipe {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .container_equipe {
        column-gap: .5rem;
        row-gap: 1.5rem;
    }
    .bside {
        height: 20%;
    }
    footer h5{
        font-size: 1rem;
    }
    .esquerda {
        width: 40%;
    }
}