* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex';
}

body{
  display: flex;
  height: 100dvh;
  width: 100dvw;
  transform: 1.5s;
}

#tela2{
  display: none;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.background{
  height: 100%;
  width: 100%;
  background-image: url(../assets/imgs/Background-cadastroLogin.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contentItens {
display: flex;
flex-direction: column;
align-items: center;
width: 70%;
height: 100%;
}

.contentItens h3 {
  margin-top: 18.5%;
  font-size: 6dvh;
  font-weight: 550;
}

#h3t2{
  margin-top: 12.5%;
}

.contentItens h1 {
  font-size: 6dvh;
  font-weight: 250;
  padding-bottom: 7dvh;

}


label{
  display: flex;
  flex-direction: column;
}

span {
  font-size: 3dvh;
}

input{
  width: 27dvw;
  height: 5dvh;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

p {
  margin-bottom: 3dvh;
  font-size: 17px;
  color: red;
}

a{
  font-size: 2dvh;
  display: flex;
  justify-content: flex-end;
}

.img {
  height: 27dvh;
}
.img2 {
  display:none;
  height: 27dvh;
}

.ctBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5dvh;
}

.btn {
  width: 9dvw;
  height: 6dvh;
  border-radius: 6px;
  font-size: 3dvh;
  margin-right: 4dvh;
  cursor: pointer;
  transition: .2s;
}

#btn-cancelar{
  background-color: white;
  border: solid 1px red;
  color: red;
}

#btn-cancelar:hover{
  background-color: rgb(236, 26, 26);
  color: white;
}

#btn-proximo{
  background-color: rgb(11, 239, 11);
  border: solid 1px rgb(11, 239, 11);
  color: white;
}

#btn-proximo:hover{
  background-color: rgb(13, 225, 13) ;
}

.verificacao{
  border: solid 1px #1400FF;
  border-radius: 5px;
  padding: 2vh;
  color: #1100da;
  margin-top: 1dvh;
  margin-bottom: 3dvh;
}

@media(max-width: 1100px  ){

  body{
    display: flex;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
  }

  #h3t2{
    margin-top: 7.5%;
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .background{
    height: 100%;
    width: 100%;
    background-image: url(../assets/imgs/backgroundPredio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .contentItens {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 49%;
    height: 94%;
    border: solid 1px black;
    border-radius: 5px;
    background-color: #ffffff;
    }

}
