@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'Segoe UI', sans-serif
}

.principal{
    display: flex;
    height: 100%;
    width: 100%;
}

.section_porque{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_porque{
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    flex-wrap: wrap;
    width: 30%;
    padding-top: 2%;
    padding-left: 1%;
}

.container_porque{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
    /* height: 47.5vh; */

}

.porque_img{
    display: flex;
    height: 47.5vh;
}

.porque_texto{
    background-color: #c7d0d8;
    width: 30%;
    height: 47.5vh;
    border-radius: 10%;
    font-size: 2rem;
    padding: 1.5%;
}

.section_equipe{
    display: flex;
    flex-direction: column;
    background-color: #c7d0d8;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.titulo_equipe{
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-end;
    padding-top: 2%;
}

.container_equipe{
    justify-content: center;
    height: 77%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;
    padding: 2% 8% 1% 8%;

}

.container_equipe img{
    height: 40vh;
    padding: 3%;
}

/* From Uiverse.io by aguerquin */ 
.button-icon {
display: flex;
border: 3px #fff solid;
width: fit-content;
height: fit-content;
cursor: pointer;
}

.icon {
background-color: #fff;
padding: 10px 10px 5px 10px;
}

.icon svg {
width: 25px;
height: 25px;
}

.cube {
transition: all 0.4s;
transform-style: preserve-3d;
width: 200px;
height: 20px;
}

.button-icon:hover {
border-color: #ff98a2;
}

.button-icon:hover .cube {
transform: rotateX(90deg);
}

.side {
position: absolute;
height: 47px;
width: 200px;
display: flex;
font-size: 0.8em;
justify-content: center;
align-items: center;
text-transform: uppercase;
letter-spacing: 0.5px;
font-weight: bold;
}

.top {
background: #ff98a2;
color: #fff;
transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
background: #222229;
color: #fff;
transform: translate3d(0, 0, 1em);
}
                                                  
.footer {
background-color: #000000;
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: space-around; */
height: 45vh;
width: 100%;

}

.footer_cima {
display: flex;
flex-direction: row;
padding: 3% ;
width: 100%;
justify-content: space-between;
}

.footer_texto {
    color: #ffffff;
    justify-content: end;
}

.footer_baixo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    height: 20vh;
}

.footer_baixo h6 {
    color: #ffffff;
    padding: 1%;
}