@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'Segoe UI', sans-serif
}


header{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    
}



#home{
    height: 100vh;
    width: 100%;
    background-image:url(AGORAVAI.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0,0,0);
    
    

}


#nav1{
width: 50%;
height: 90px;
display: flex;
justify-content: flex-start ;
align-items: center;
/* background-color: aliceblue; */
/* padding: 10px; */
}

#nav2{
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: aqua; */
    /* padding: 10px; */
    }

    #nav1 img{
        height: 100%;
        }

#nav1 a{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 3%;
    
 }

 #nav2 a{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 4%;
 }

 
 #elementos{
    display: flex;
    /* align-items: center; */
    height: 100vh;
    /* background-color: green; */
    padding: 7%;
 }

 #textoBotao{
    /* background-color: blue; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
   height: 500px;
   width: 500px;
   flex-direction: column;
   
 }

 #txt{
    display: flex;
/* align-items: center; */
/* justify-content: center; */
text-align: center;
/* height: 100px; */
/* width: 100%; */
 }

 #botao{
    display: flex;
    /* align-items: center; */
    justify-content: left;
    padding: 2%;
    /* text-align: center; */
    /* height: 100px; */
    /* width: 100%; */
    
    

 }


 #textoBotao span{
    color: white;
    font-size: 4.8rem;
    text-decoration: none;
    text-align: left;
    
 }

 #botao a{
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    justify-content: left;
    padding: 2%;
    width: 350px;
    border-radius: 30px;
    background-color: white;
    /* height: 10px; */
    /* text-align: center; */
    /* height: 10px; */
   
 }

#NossaSolucao{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9%;
}

#minitela{
    /* background-color: rebeccapurple; */
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
}

#miniesquerda{
    height: 100%;
    width: 50%;
    /* background-color: orangered; */
    display: flex;
    align-items: left;
    /* justify-content: center; */
    flex-direction: column;
    
    /* padding: 15px; */
}

#titulo{
    color: white;
    font-size: 3.5rem;
    /* padding: 20px; */
}

#contexto{
    color: white;
    font-size: 2.4rem;
    /* padding: 20px; */
    padding-top: 2%;
    padding-bottom: 2%;
    
    
}

#nossaSolucao{
    /* width: 50%; */
/* margin-top: 15px; */
display: flex;
align-items: center;
/* justify-content: center; */
}

#miniesquerda a{
    color: black;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    background-color: white;
}

#minidireita{
    height: 100%;
    width: 50%;
    /* background-color: royalblue; */
    border-radius: 10px;
}

#minidireita img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


@media only screen and (max-width: 600px) {
    

/* body{
    margin: 0;
    background-color: #ffffff;
}


.login{
    height: 600px;
      display: flex;
      justify-content: space-evenly;
      font-family: "DM Sans", sans-serif;
      font-size: 29px;
}

.login .direita1{
background-color: #ffffff;
width: 700px;
height: 600px;
justify-content: left;
align-items: center;
}

.login .direita1 .direita2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 9px;
    padding-left: 250px;
}


.login .esquerda1{
background-color: #c7d0d8;
width: 645px;
height: 615px;
justify-content: center;
align-items: center;
padding-bottom: 30px;
color: white;
}

.nome{
    width: 590px;
    height: 51px;
    display: flex;
    align-items: center;
    padding-left: 35px;
}

.aa {
    text-decoration: none;
    color:#31241E ;
    font-family: "DM Sans", sans-serif;
}

.ab {
    text-decoration: none;
    color:#ffffff ;
    font-family: "DM Sans", sans-serif;
    align-items: start;
}

  .inputs{
    position:relative;
    width: 400px;
    padding:10px 10px;
    border-radius:15px;
    border: 0px;
    outline: none;
    background:#c7d0d8;
    color:rgb(82, 82, 82) ;
    font-weight: bold;
    font-size: 1.00rem;
        
    }
 
    .btn{
        color:white;
        width: 100px;
        height: 35px;
        justify-content: center;
        align-items: center;
        display:flex ;
        background-color: #000000;
        font-weight: bold;
        border-radius: 20px;
        outline: 0px;
        border:0px;
    }

    .btn, p {
        font-size: 15px;
        margin-top: 7px;
        margin-bottom: 0;
    }
    .btn:hover{
        background-color: #292929;
        box-shadow: 0px 0px 10px #292929;
        transform: translate(0px, -5px);
        transition:transform 0.5s;
    }

    .lugar-btn{
        padding-top: 120px;
        padding-left: 300px;
    }

    .lugar-btn2{
        padding-top: 170px;
        padding-left: 310px;
    }

    .bloco{
        width: 300px;
        height: 175px;
        padding-top: 175px;
        padding-left: 165px;
    }

    .bloco2{
        width: 300px;
        height: 335px;
      padding-top: 110px;
      padding-left: 160px;
    }

    .banner{
        background-image: url(HardStock\(Preto\).png);
        background-repeat: no-repeat;
        height: 568px;
        width: 570px;
        color: rgb(0, 0, 0);
        padding: 1px;
        background-size: cover;

    } */
/* @media screen and( max-width: 768px) {

    #nav1{
        /* background-color: blue; */
        /* width: 1%; */
    

    #nav2{
        /* background-color: red; */
    }
    
    #nav1 img{
        height: 50%;
    }

    #nav1 a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 15px;
    
    }

    #nav2 a{
        color: white;
        font-size: 1.2rem;
        text-decoration: none;
        padding: 20px;
     }

     
     
     #elementos{
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
     }
    
     #textoBotao{
       
     }
    
     #txt{
        display: flex;
        justify-content: center;
        text-align: center;
       
     }
    
     #botao{
        
    
     }
    
    
     #textoBotao span{
        
     }
    
     #botao a{
       
     }
    

    /* SEGUNDA SESSÃO */



    #NossaSolucao{
     
     padding: 0%;
    }
    
    #minitela{
     
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    }
    
    #miniesquerda{

    height: 50%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;

    }
    
    #titulo{
    font-size: 35px;
    text-align: center;
    }
    
    #contexto{
    font-size: 25px;
    text-align: center;
    }
    
    
    #miniesquerda a{
        color: black;
        font-size: 0.9rem;
        text-decoration: none;
        text-align: center;
        padding: 5px;
        width: 150px;
        border-radius: 30px;
        background-color: white;
    }
    
    #minidireita{
        height: 50%;
        width: 100%;
        padding: 3%;
    }
    

    .principal{
        display: flex;
        height: 100%;
        width: 100%;
    }

    .section_porque{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .titulo_porque{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        
    }







 /* From Uiverse.io by aguerquin */ 
.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: #ff98a2;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #ff98a2;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}
                                                      
                                                           
}